.shoppingForm {
  display: grid;
  gap: 0.75rem;
  grid-auto-flow: column;
  align-items: flex-end;
}

.formControl:focus-within .label {
  color: var(--brand-purple-light);
}

.label {
  color: var(--gray-200);
  font-size: 0.75rem;
  line-height: 1;
  display: block;
  margin-bottom: 0.5rem;
}

.input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid var(--gray-300);
  background: var(--gray-500);
  color: var(--gray-100);
  font-size: 0.875rem;
  line-height: 1rem;
  border-radius: 0.375rem;
}

.input[id="quantity"] {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.select {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid var(--gray-300);
  background: var(--gray-400);
  color: var(--gray-100);
  font-size: 0.875rem;
  line-height: 1rem;
  border-radius: 0.375rem;

  appearance: none;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%23fbf9fe' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.5rem center;
  background-size: 1.5rem 1.5rem;

  padding-right: 2.5rem;
}

.select[id="unity"] {
  width: fit-content;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.quantityInput {
  display: flex;
  align-items: center;
}

.submitButton {
  width: 40px;
  height: 40px;
  background: var(--brand-purple);
  border: none;
  padding: 0.5rem;
  border-radius: 9999px;
  width: fit-content;
  cursor: pointer;

  transition: background-color 0.1s ease;
}

.submitButton:hover {
  background: var(--brand-purple-dark);
}

@media (max-width: 600px) {
  .shoppingForm {
    grid-template-rows: 1fr 1fr;
  }

  .shoppingForm div:first-child {
    grid-column: 1/4;
  }
}
