.header img {
  width: 100%;
  object-fit: cover;
  object-position: left top;

  user-select: none;
  pointer-events: none;
}

.main {
  max-width: 800px;
  margin-top: -7.5rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5rem;
}
