.header img {
  width: 100%;
  object-fit: cover;
  object-position: left top;

  user-select: none;
  pointer-events: none;
}

.main {
  max-width: 800px;
  margin-top: -7.5rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5rem;
}

.main h1 {
  margin-bottom: 1.5rem;
  color: var(--gray-100);
  font-size: 1.5rem;
  font-weight: 700;
}

.itemList {
  margin-top: 1rem;
}

.itemList li + li {
  margin-top: 0.5rem;
}

.purchasedItems {
  font-size: 1rem;
  font-weight: 600;
  color: var(--brand-purple-light);
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.purchasedItems span {
  font-size: 0.875rem;
  color: var(--gray-100);
  background: var(--gray-300);
  border-radius: 50%;
  padding: 0.25rem 0.5rem;
}
